@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
:root {
  --bg_main: #f1cf0a;
  --text_light: #000;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  text-align: center;
  max-width: 20vw;
  margin: 0 auto;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

body {
  /* font: 1rem/1.3 "Roboto", sans-serif; */
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

/* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner {
  color: var(--text_light);
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
  margin: 10px auto;

  font-family: "Poiret One" !important;
}

.top-banner form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-banner form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;

  font-family: "Poiret One" !important;
}

.top-banner form input::-webkit-input-placeholder {
  color: currentColor;
}

.top-banner form input:-ms-input-placeholder {
  color: currentColor;
}

.top-banner form input::-ms-input-placeholder {
  color: currentColor;
}

.top-banner form input::placeholder {
  color: currentColor;
}

.top-banner form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.top-banner form button:hover {
  background: var(--darkred);
}

.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}

h2,
p {
  color: whitesmoke;
}

.weather {
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  max-width: 1000px;
  width: 100%;
}

.widget {
  position: absolute;
  font-family: Poiret One;
  top: 60%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 600px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  /* -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15); */
}

.widget .weatherIcon {
  /* -webkit-box-flex: 2;
  -ms-flex: 2 100%;
  flex: 2 100%;
  height: 60%; */
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  /* background: #fafafa; */
  /* font-family: weathericons; */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; */
  font-size: 100px;
}

.widget .weatherIcon i {
  padding-top: 30px;
}

.widget .weatherInfo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  height: 100%;
  /* background: #080705; */
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.widget .weatherInfo .temperature {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* .widget .weatherInfo .description {
  -webkit-box-flex: 0;
  -ms-flex: 0 60%;
  flex: 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
} */

.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
}

.widget .weatherInfo .description .place {
  font-size: 15px;
  /* margin-right: 20px; */
}

div.place {
  margin-right: 30px;
}

/* div.description {
  margin-left: 20px;
} */

.widget .date {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  /* height: 40%; */
  /* background: #70c1b3; */
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.humidity-info {
  font-family: "Poiret One" !important;
  font-weight: "bold" !important;
}

.condition-icon {
  /* margin: auto; */
  /* background-color: rgba(255, 255, 255, 1); */
  width: 100%;
}

.condition-icon img {
  width: 150px;
  height: 150px;
  margin-left: 100px;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

p a {
  text-decoration: none;
  color: #e4d6a7;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */

#card {
  width: 30vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;

  border-radius: 20px;
  box-shadow: 0px 0px 20px 2px #000;
}

body {
  background: url(vihar1.jpeg) no-repeat center center fixed;
}

div.temperature {
  grid-column: 1;
  grid-row: 2/3;
  margin-top: 30px;
}
div.temperature span {
  font-family: "Poiret One" !important;
  font-size: 7rem;
  margin-left: 50px;
}

div.weatherCondition {
  font-family: "Poiret One" !important;
  font-size: 2rem;
}

div.weatherIcon {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;

  /* display: grid;
  grid-template-rows: repeat(3, 33%); */

  /* margin-left: 20px;
  margin-top: 20px; */
}

article.widget {
  max-width: 30vw;
  height: 55vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 40% 30%;
}

div.description {
  position: absolute;
  top: 6vh;
  left: 10vw;

  width: 100%;
  text-align: center;

  grid-column: 1/2;
}

div.date {
  color: #000 !important;
  font-family: "Poiret One" !important;

  grid-column: 2/3;
  grid-row: 3/4;
}

div.fahrenheit {
  grid-column: 2;
  grid-row: 2/3;

  font-size: 50px;

  margin: 0 auto;

  display: flex;
  align-items: center;
}

div.weatherInfo {
  color: #000;
  margin: 0 auto;
}

span.humidity-info {
  color: #000;
  font-size: 80px;
}

i {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  font-size: 60px;
}
